* {
	/*border:dashed;*/
}

#header {
	width: 100%;
}

#header img {
	width: 36%;
	height: auto;
	margin-left: 32%;
}

.spacer {
	height:25px;
}

#navbar {
	display: table;
	table-layout: fixed;
	width: 36%;
	margin-left: 32%
}

#navbar > span {
	color: rgb(192,192,192);
	display:table-cell;
	text-align: center;
	font-family: 'Work Sans', sans-serif;
	font-size: 20px;
}

#content-pane {
	width: 36%;
	margin-left: 32%;
}

#content-pane #content {
	vertical-align: center;
	margin-left: 15px;
	margin-right: 15px;
}

#content-pane #content p {
	text-align: left;
}

a {
	text-decoration: none;
	color:inherit;
}


.projectitem {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;

}

.projectitem img {
	width: 80%;
	height: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
	margin-top: 10%;
	
}

#quire_pic {
	position:relative;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	z-index: 1;
}

#special {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 50px;
	margin-bottom: 50px;
}